.contact-title {
  margin-bottom: 16px;
  text-align: left;
}

.container-contact {
  display: flex;
}

.light {
  font-weight: 400;
}

.confidence {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}
